@mixin flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin text($size, $weight, $color, $line:1){
  font-size: $size;
  font-weight: $weight;
  color: $color;
  line-height: $line;
}

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

$blue: rgb(19, 73, 211);
$red: rgb(249, 75, 66);
$bg: rgb(66, 239, 66);
$gray: rgba(171, 177, 171, 0.623);
$green: rgb(30, 163, 30);

.list-item.done {
  background: rgb(70, 214, 70);
  .form {
    .input {
      transition: all .5s ease-in-out;
      text-decoration: line-through;
    }
  }
}

*{
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: 'Pacifico', cursive;
}